@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
body {
    display: grid;
    grid-template:
	auto 1fr /
	auto 1fr 1fr 1fr 1fr;
    margin: 0.25em;
    xgap: 0.25em;
}
body > * {
    border: 2px dashed black;
    padding: 0.25em;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #5DAF56;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
}
menu {
    background-color: #EBBD7D;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    
    padding: 0.25em;
    xpadding:0;
    margin:0;
}
main {
    background-color: #9B77AF;
    grid-row: 2 / 3;
      grid-column: 2 / 6;
}
flex {
    display: flex;
}
