_Chat {{ 3 + 3 + 3 }}

<div id=chat>
  Chat
  <hr>
  <div>
  <div>User1</div>
    blah blah blah
  </div>
  <div>
  <div>User1</div>
    blah blah blah
  </div>
  <div>
  <div>User1</div>
    blah blah blah
  </div>
  <div>
  <div>User1</div>
    blah blah blah
  </div>
  <div>
  <div>User1</div>
    blah blah blah
  </div>
  <div>
  <div>User1</div>
    blah blah blah
  </div>
</div>
