<style>
{% include "public/site.css" %}
</style>
<header>
{%block header%}
{%include "layouts/header.html"%}
{%endblock header%}
</header>
<main>
{%block main%}
APP MAIN
{%endblock main%}
</main>
<script>
{%include "public/u.js"%}
</script>
