<menu class="bg-gray-50 border-2">
  <li @=main href=home.html  class="m-1 p-1 shadow-lg xw-full hover:text-blue-100 bg-gray-300 hover:bg-gray-500" >Home </li>
  <li @=main href=chat.html  class="m-1 p-1 shadow-lg xw-full hover:text-blue-100 bg-gray-300 hover:bg-gray-500" >Chat </li>
  <li @=main href=about.html class="m-1 p-1 shadow-lg xw-full hover:text-blue-100 bg-gray-300 hover:bg-gray-500" >About xxxxxxxxx</li>
</menu>
